@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  letter-spacing: -0.011em;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.wrapper {
  position: relative;
}

.earth {
  fill: #e2f1f1;
  stroke: none;
}

.graticule {
  stroke: #cadddd;
  fill: none;
}

.country_bubble {
  fill: #171717;
  opacity: 0.3;
}

/* .country_bubble:hover {
  opacity: 1;
  fill: #f9423a;
  transition: all 0.4s;
} */
