@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  letter-spacing: -0.011em;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.wrapper {
  position: relative;
}

.earth {
  fill: #e2f1f1;
  stroke: none;
}

.graticule {
  stroke: #cadddd;
  fill: none;
}

.country {
  fill: #999;
}
.country_bubble {
  fill: goldenrod;
  opacity: 0.25;
}

.country_bubble_active {
  fill: #f9423a;
  opacity: 1;
}
